<div>
    <p>
        <ul>
            <li>HTML to define the content of web pages</li>
            <li>CSS to specify the layout of web pages</li>
            <li>JavaScript to program the behavior of web pages</li>
        </ul>
        <p>The DOCTYPE html declaration represents the document type, and helps browsers to display web pages correctly.
            Attributes provide additional info about elements.
            Current version – HTML 5 released in 2014</p>
        <h3>New HTML5 elements are:</h3>
        <ul>
            <li>New semantic elements like header, footer, article, and section.</li>
            <li>New attributes of form elements like number, date, time, calendar, and range.</li>
            <li>New graphic elements: svg and canvas.</li>
        </ul>
        <p>New multimedia elements: audio and video.</p>
                New HTML5 API's (Application Programming Interfaces):
                <ul>
                    <li>HTML Geolocation</li>
                    <li>HTML Drag and Drop</li>
                    <li>HTML Local Storage</li>
                    <li>HTML Application Cache</li>
                    <li>HTML Web Workers</li>
                    <li>HTML SSE</li>
                </ul>
                HTML Charset:
                ASCII -  American Standard Code for Information Interchange
                ANSI – American National Standard Institute
                UTF-8 (Unicode Transformation Format) covers almost all the characters and symbols in the world.
                o	UTF-8 is identical to ASCII for the values from 0 to 127.
                o	UTF-8 does not use the values from 128 to 159.
                o	UTF-8 is identical to both ANSI and 8859-1 for the values from 160 to 255.
                o	UTF-8 continues from the value 256 with more than 10 000 different characters.
    </p>
</div>