<table ng-table="studentContentTableParams">
    <tr ng-repeat="student in currentPageOfStudents">
        <td data-title="'First Name'"  sortable="'firstName'" ng-model="student.firstName" class="clickable-item col-md-6" >{{ student.firstName }}</td>
        <td data-title="'Last Name'"  sortable="'lastName'" ng-model="student.lastName" class="clickable-item col-md-6" >{{ student.lastName }}</td>
        <td class="col-md-2">
            <md-button>
                <md-icon type="button" class="btn" ng-click="handleClickUpdateStudent(student.studentId)">
                    <span class="glyphicon glyphicon-pencil"></span></md-icon>
            </md-button>
        </td>
        <td class="col-md-2">
            <md-button>
                <md-icon type="button" class="btn" ng-click="deleteStudent(student.studentId)">
                    <span class="glyphicon glyphicon-remove"></span></md-icon>
            </md-button>
        </td>
    </tr>
    <tr ng-if="!students || students.length === 0">
        <td colspan="4">No Student Data exists.  Please add some.</td>
    </tr>
</table><br/><br/>

<button ng-click="handleClickAddStudent()">Add Student</button>

<script type="text/ng-template" id="add-student-modal.html">

    <div class="modal-header">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="modal-title">Add Student</h3>
            </div>
            <div class="col-sm-1">
                <md-button>
                    <md-icon type="button" class="btn-sm" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div class="modal-body">


        <form name="studentForm" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-7 col-xs-offset-2">
                 First Name: <input type="text" class="form-control" ng-model="student.firstName" placeholder="First Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-7 col-xs-offset-2">
                 Last Name: <input type="text"class="form-control" ng-model="student.lastName" placeholder="Last Name">
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="createStudent()" ng-disabled="!isInputValid()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- ---------------------------------------------------------------------------- -->

<script type="text/ng-template" id="update-student-modal.html">

    <div class="modal-header">
        <div class="row">
            <div class="col-sm-11">
                <h3 class="modal-title">Update Student</h3>
            </div>
            <div class="col-sm-1">
                <md-button>
                    <md-icon type="button" class="btn-sm" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <!-- ---------------------------------------------------------------------------- -->
        <form name="studentUpdateForm" class="form-horizontal" role="form">

            <div class="form-group">
                <div class="col-sm-7 col-xs-offset-2">
                 First Name: <input type="text" id="studentFirstNameUpdate" class="form-control" ng-model="student.firstName" placeholder="First Name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-7 col-xs-offset-2">
                 Last Name: <input type="text" id="studentLastNameUpdate" class="form-control" ng-model="student.lastName" placeholder="Last Name">
                </div>
            </div>


        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="createStudent()" ng-disabled="!isInputValid()">Update</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
